﻿



@using NFCProject.Core.Constants;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;


@{

    var str = Context.Session.GetString("UserRole");
    var roleName = "";
    if (str != null)
    {
        roleName = JsonConvert.DeserializeObject<string>(str);
    }

    var userName = Context.Session.GetString("UserName");
    var fullName = "";
    if (userName != null)
    {
        fullName = JsonConvert.DeserializeObject<string>(userName);
    }

}



<div class="main-menu material-menu menu-fixed menu-dark menu-accordion menu-shadow " data-scroll-to-active="true">
    @*<div class="user-profile">
            <div class="user-info text-center pb-2">
                <img class="user-img img-fluid rounded-circle w-25 mt-2" src="~/TemplateMain/app-assets/images/portrait/small/tlogo.png" alt="" />
                <div class="name-wrapper d-block dropdown mt-1">
                    <a class="white dropdown-toggle ml-2" id="user-account" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="user-name">
                            <span style="color:white">
                                @if (@Context.User.Claims.FirstOrDefault(t => t.Type == "Fullname").Value.Length > 15)
                                {
                                    @Context.User.Claims.FirstOrDefault(t => t.Type == "Fullname").Value.Substring(0, 15).ToString()<span>...</span>
                                }
                                else
                                {
                                    @Context.User.Claims.FirstOrDefault(t => t.Type == "Fullname").Value
                                }
                            </span>
                        </span>
                    </a>
                    <div class="text-light"></div>
                    <div class="dropdown-menu arrow">

                        <a class="dropdown-item" href="/Account/Logout"><i class="material-icons align-middle mr-1">power_settings_new</i><span class="align-middle">Çıkış</span></a>
                    </div>
                </div>
            </div>
        </div>*@

    <div id="domMessage" style="display:none;">
        <img src="~/images/unnamed2.gif" width="100" height="100" /><br />
    </div>
    <div class="main-menu-content">
        <!--<ul class="float-right" style="height:15px; margin-right:8px;">-->
        @*<li class="nav-item">
                <a class="nav-link nav-menu-main menu-toggle" style="font-size: 1.6rem; text-decoration:none; color:white; float:right" href="#"><i class="fas fa-arrow-left" title="Menü Aç/Kapat"></i></a>
            </li>*@



        <!--</ul>
        <br />-->
        <br />
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            @*<li class="active">
            <a href="index.html"><i class="material-icons">settings_input_svideo</i><span class="menu-title" data-i18n="Dashboard Hospital">Dashboard Hospital</span></a>
        </li>*@

            <li class="nav-item">
                <a href="/Home/Index"><i class="fas fa-home" style="font-size: 18px;"></i>&nbsp;&nbsp;<span class="menu-title" data-i18n="Calendar">Anasayfa</span></a>
            </li>


            @if (roleName == Constants.Role.Admin.ToString())
            {
                <li class="nav-item">
                    <a href="#"><i class="fas fa-id-card" style="font-size: 18px; "></i>&nbsp; <span class="menu-title" data-i18n="Calendar">&nbsp;Kartlar</span></a>
                    <ul class="menu-content">
                        <li class="nav-item">
                            <a href="/Card/Index" title="Kart Listesi"><i class="fas fa-list-ul" style="font-size: 14px;"></i>&nbsp; <span class="menu-title" data-i18n="Calendar">&nbsp;Kart Listesi&nbsp;</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/Card/AddCard" title="Kart Ekle"><i class="fas fa-plus" style="font-size: 14px;"></i>&nbsp; <span class="menu-title" data-i18n="Calendar">&nbsp;Kart Ekle&nbsp;</span></a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#"><i class="far fa-building" style="font-size: 14px; "></i>&nbsp; <span class="menu-title" data-i18n="Company">&nbsp; Firma</span></a>
                    <ul class="menu-content">

                        <li>
                            <a class="menu-item" href="/Company/Index"><i class="fas fa-list-ul"></i><span>  Firma Listesi</span></a>
                        </li>
                        <li>
                            <a class="menu-item" href="/Company/AddCompany"><i class="fas fa-plus"></i><span>  Firma Ekle</span></a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#"><i class="fas fa-users" style="font-size: 14px; "></i>&nbsp; <span class="menu-title" data-i18n="Driver">&nbsp; Üye İş Yeri</span></a>
                    <ul class="menu-content">

                        <li>
                            <a class="menu-item" href="/MemberBusiness/MemberBusinessList"><i class="fas fa-list-ul"></i><span>&nbsp;Üye İş Yeri Listesi</span></a>
                        </li>
                        <li>
                            <a class="menu-item" href="/MemberBusiness/AddMemberBusiness"><i class="fas fa-plus"></i><span>&nbsp;Üye İş Yeri Ekle</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#"><i class="fas fa-mobile-alt" style="font-size: 14px; "></i>&nbsp; <span class="menu-title" data-i18n="Driver">&nbsp; Cihaz</span></a>
                    <ul class="menu-content">

                        <li>
                            <a class="menu-item" href="/Device/Index"><i class="fas fa-list-ul"></i><span>&nbsp;Cihaz Listesi</span></a>
                        </li>
                        <li>
                            <a class="menu-item" href="/Device/Index"><i class="fas fa-plus"></i><span>&nbsp;Cihaz Ekle</span></a>
                        </li>
                    </ul>
                </li>

            }
            @if (roleName == Constants.Role.Company.ToString())
            {
                <li class="nav-item">
                    <a href="#"><i class="fas fa-id-card" style="font-size: 18px; "></i>&nbsp; <span class="menu-title" data-i18n="Calendar">&nbsp;Kartlar</span></a>
                    <ul class="menu-content">
                        <li class="nav-item">
                            <a href="/Company/CardList" title=""><i class="fas fa-list-ul" style="font-size: 14px;"></i>&nbsp; <span class="menu-title" data-i18n="Calendar">&nbsp;Kart Listesi&nbsp;</span></a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#"><i class="fas fa-id-card" style="font-size: 14px; "></i>&nbsp; <span class="menu-title" data-i18n="Driver">&nbsp; Ödeme İşlemleri</span></a>
                    <ul class="menu-content">

                        <li>
                            <a class="menu-item" href="/Company/PaymentDetailList"><i class="material-icons"></i><span>Ödeme Detayları</span></a>
                        </li>
                    </ul>
                </li>

            }
            @if (roleName == Constants.Role.MemberBusiness.ToString())
            {
                <li class="nav-item">
                    <a href="#"><i class="fas fa-mobile-alt" style="font-size: 18px; "></i>&nbsp; <span class="menu-title" data-i18n="Calendar">&nbsp;Cihaz</span></a>
                    <ul class="menu-content">
                        <li class="nav-item">
                            <a href="#"><i class="fas fa-list-ul" style="font-size: 14px;"></i>&nbsp; <span class="menu-title" data-i18n="Calendar">&nbsp;Cihaz Detayı&nbsp;</span></a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item">
                    <a href="#"><i class="fas fa-id-card" style="font-size: 14px; "></i>&nbsp; <span class="menu-title" data-i18n="Driver">&nbsp; Ödeme İşlemleri</span></a>
                    <ul class="menu-content">

                        <li>
                            <a class="menu-item" href="/MemberBusiness/CardShooting"><i class="material-icons"></i><span>Ödeme Yap</span></a>
                        </li>
                    </ul>
                </li>


                
                <li class="nav-item">
                    <a href="#"><i class="fas fa-id-card" style="font-size: 14px; "></i>&nbsp; <span class="menu-title" data-i18n="Driver">&nbsp; Raporlar</span></a>
                    <ul class="menu-content">

                        <li>
                            <a class="menu-item" href="/MemberBusiness/PaymentTransactions"><i class="material-icons"></i><span>Ödeme Hareketleri</span></a>
                        </li>
                    </ul>
                </li>


            }




            <li class="nav-item">
                <a href="/Account/Logout"><i class="fas fa-sign-out-alt" style="font-size: 18px;"></i>&nbsp;&nbsp;<span class="menu-title" data-i18n="Calendar">Çıkış Yap</span></a>
            </li>


        </ul>
    </div>
</div>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/blockUI/blockUIScript.js"></script>
