﻿
@{
    ViewData["Title"] = "AddMemberBusiness";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h1>Üye İş Yeri Ekle </h1>


<section id="column-selectors">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">

                        <form id="addMemberBusiness" onsubmit="AddMemberBusiness()" method="Post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label>Üye İş  Adı<span style="color:red">*</span></label>
                                        <div class="input-group">

                                            <input name="Name" class="form-control" required>

                                        </div>

                                    </div>



                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email"  class="form-control">

                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Yetkili Adı Soyadı </label>
                                            <input type="text"  class="form-control">

                                        </div>

                                    </div>



                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Telefon </label>
                                        <input class="form-control">


                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">

                                        <div class="form-group">
                                            <label>Vergi No </label>
                                            <input class="form-control" name="TaxNo">


                                        </div>


                                    </div>



                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Adres </label>
                                        <input class="form-control">
                                    </div>
                                </div>


                            </div>


                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">

                                        <div class="form-group">
                                            <label>Cihaz </label>
                                            <select class="form-control" name="DeviceId" required>
                                                <option value="">
                                                    Seçiniz
                                                </option>
                                                @if (ViewBag.DeviceList != null)
                                                {
                                                    foreach (var item in ViewBag.DeviceList)
                                                    {
                                                        <option value="@item.Id">
                                                            @item.Name
                                                        </option>
                                                    }
                                                }
                                            </select>


                                        </div>


                                    </div>



                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Hizmet Sektörü </label>
                                        <select class="form-control" name="ServiceEndustryId" required>
                                            <option value="">
                                                Seçiniz
                                            </option>
                                            @if (ViewBag.ServiceList != null)
                                            {
                                                foreach (var item in ViewBag.ServiceList)
                                                {
                                                    <option value="@item.Id">
                                                        @item.Description
                                                    </option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-info float-right" type="submit"><i class="far fa-save"></i> Kaydet</button>
                                </div>
                            </div>
                        </form>



                    </div>

                </div>


            </div>

        </div>
    </div>
</section>
<script>

    function AddMemberBusiness() {
        event.preventDefault();


        var formValue = document.getElementById("addMemberBusiness");

        /* var formValue = (this);*/

        debugger;

        $.ajax({
            method: "POST",
            url: "/MemberBusiness/AddMemberBusiness",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: new FormData(formValue),
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function () {

            }
        }).done(function (d) {


            if (d.result == "Success") {


                swal({
                    title: "Başarılı",
                    text: d.message,
                    type: "success",
                    showCancelButton: false,
                    confirmButtonColor: '#5cb85c',
                    confirmButtonText: 'Tamam',
                    cancelButtonText: "Kapat",
                    closeOnConfirm: false,
                    closeOnCancel: false,
                    allowOutsideClick: false
                }).then(function (willDelete) {
                    if (willDelete) {

                        window.location.href = "/MemberBusiness/MemberBusinessList";
                    }

                });



            } else {
                swal({
                    title: "Hata",
                    text: d.message,
                    type: "error",
                    showCancelButton: false,
                    confirmButtonColor: '#5cb85c',
                    confirmButtonText: 'Tamam',
                    cancelButtonText: "Kapat",
                    closeOnConfirm: false,
                    closeOnCancel: false,
                    allowOutsideClick: false
                }).then(function (willDelete) {
                    if (willDelete) {


                    }

                });
            }



        }).always(function () {

        });

    }



</script>