﻿
@{
    ViewData["Title"] = "CardShooting";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h1>Kart Çekim İşlemi</h1>
<br />

<section id="column-selectors">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <form id="sendAmountforPayment">
                            <div class="row">


                                <div class="form-group col-md-3">
                                    <label for="inputCity">Kartlar</label>
                                    <select class="form-control select2" id="cardId" required name="CardGuidId">
                                        <option value="" selected>Seçiniz</option>
                                        @if (ViewBag.CardList != null)
                                        {
                                            foreach (var item in ViewBag.CardList)
                                            {
                                                <option value="@item.CardGuidId">@item.CardGuidId - @item.FullName</option>
                                            }

                                        }
                                    </select>
                                </div>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>

                                <div class="col-md-3">
                                    <label for="startDate">Tutar <span style="color:red">*</span></label>
                                    <input type="text" class="form-control money" required id="amount" name="Amount" />
                                    @*<input type="text" class="form-control datepicker" autocomplete="off" id="StartDate" name="StartDate" value="@DateTime.Now.ToString("dd-MM-yyyy")" />*@

                                </div>
                                <div class="form-group col-md-3">
                                    <button class="btn btn-info" type="submit" style="margin-top:25px;"><i class="fas fa-search"></i> Ödeme Yap</button>



                                </div>

                            </div>
                        </form>

                    </div>

                </div>


            </div>
        </div>

    </div>
</section>
@*@if (Model != null)
    {*@
<section id="column-selectors">
    <div class="row">
        <div class="col-12">
            <div class="card" id="getOpenItemsList">

            </div>
        </div>
    </div>
</section>
<script src="~/js/jquery.mask.js"></script>
<script>
    $('.money').mask('000.000.000.000.000,00', { reverse: true });
</script>
<script>
    $("#sendAmountforPayment").submit(function (event) {
        event.preventDefault();
        var amount = $("#amount").val();
        var card = $("#cardId").val();
        debugger;

        var formValue = (this);

        swal({
            text: "Ödeme yapılacak emin misiniz?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır',
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            buttonsStyling: true
        }).then(function (willDelete) {
            if (willDelete) {
                debugger;
                $.ajax({
                    method: "POST",
                    url: "/MemberBusiness/CardPayment",
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: new FormData(formValue),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                    }
                }).done(function (d) {
                    if (d.failed == true) {
                        debugger;
                        swal({
                            title: "Hata",
                            text: d.message,
                            type: "error",
                            showCancelButton: false,
                            confirmButtonColor: '#5cb85c',
                            confirmButtonText: 'Tamam',
                            cancelButtonText: "Kapat",
                            closeOnConfirm: false,
                            closeOnCancel: false,
                            allowOutsideClick: false
                        });

                    } else {
                        swal({
                            title: "Başarılı",
                            text: d.message,
                            type: "success",
                            showCancelButton: false,
                            confirmButtonColor: '#5cb85c',
                            confirmButtonText: 'Tamam',
                            cancelButtonText: "Kapat",
                            closeOnConfirm: false,
                            closeOnCancel: false,
                            allowOutsideClick: false
                        });
                    }

                }).always(function () {

                });
            }
        });
    });

</script>