﻿
@{
    ViewData["Title"] = "MemberBusinessList";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


@model IEnumerable<NFCProject.Core.Entities.MemberBusiness>

<h1>Üye İş Yeri Listesi</h1>

<section id="column-selectors">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">


                        <table class="table table-striped table-bordered dataex-html5-export dataTable">
                            <thead>
                                <tr>
                                    <th>
                                        Üye İş Yeri Adı
                                    </th>

                                    <th>
                                       Kullanıcı Adı
                                    </th>

                                    <th>
                                        Vergi Numarası
                                    </th>
                                    <th>
                                        Cihaz Id
                                    </th>
                                    <th>
                                        Sektör
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count() > 0)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>@item.User.UserName</td>
                                            <td>
                                                @item.TaxNo
                                            </td>

                                            <td>
                                                @item.Device.Name
                                            </td>
                                            <td>
                                                @item.ServiceEndustry.Description
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>

                    </div>

                </div>


            </div>

        </div>
    </div>
</section>



<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/TemplateMain/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
<script src="~/TemplateMain/app-assets/js/scripts/tables/datatables-extensions/datatable-button/datatable-html5.js"></script>