﻿@model IEnumerable<NFCProject.Contact.RequestModel.Payment.GetPaymentDetailsRequestModel>
@{
    ViewData["Title"] = "Ödeme Hareketleri";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h1>Ödeme Hareketleri</h1>
<br />
<section id="column-selectors">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <form id="getDelayOfPaymentsByPartnerIdForm">
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="startDate">Başlangıç Tarihi</label>
                                    @*<input type="date" class="form-control" id="StartDate" name="StartDate" />*@
                                    <input type="date" class="form-control datepicker" placeholder="gg/aa/yyyy" autocomplete="off" id="StartDate" name="StartDate">
                                </div>
                                <div class="col-md-2">
                                    <label for="startDate">Bitiş Tarihi <span style="color:red">*</span></label>
                                    @*<input type="date" class="form-control" id="EndDate" name="EndDate">*@
                                    <input type="date" class="form-control datepicker" placeholder="gg/aa/yyyy" autocomplete="off" id="EndDate" name="EndDate">
                                </div>
                                @*<div class="form-group col-md-2">
                                        <label for="inputCity">Ödeme Tipi</label>
                                        <select class="form-control select2" name="PaymentTypeID" id="PaymentTypeID">
                                            <option value="">Seçiniz</option>
                                            @if (ViewBag.PaymentTypeList != null)
                                            {
                                                @foreach (var items in ViewBag.PaymentTypeList)
                                                {
                                                    <option value="@items.Id">@items.Description</option>
                                                }
                                            }

                                        </select>
                                    </div>*@
                                <div class="form-group col-md-1">
                                    <button class="btn btn-info" type="button" style="margin-top:25px;" onclick="FilterPaymentDetails()"><i class="fas fa-search"></i> Sorgula</button>
                                </div>

                            </div>
                        </form>

                    </div>

                </div>


            </div>
        </div>

    </div>
</section>

<section id="column-selectors">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"></h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <div id="getPaymentDetails">
                            @await Html.PartialAsync("~/Views/MemberBusiness/_PartialGetPaymentTransactions.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    function FilterPaymentDetails() {
        debugger;

        var StartDate = $("#StartDate").val();
        var EndDate = $("#EndDate").val();

        //startDate
        var dateOut = StartDate.split("/");
        var date1 = new Date(dateOut[1] + "/" + dateOut[0] + "/" + dateOut[2]);

        //endDate
        var dateOut2 = EndDate.split("/");
        var date2 = new Date(dateOut2[1] + "/" + dateOut2[0] + "/" + dateOut2[2]);



        if (StartDate == "" && EndDate == "") {
            window.location.reload();
        }
        else if (date1 > date2) {
            toastr.error("Bitiş tarihi, başlangıç tarihinden büyük olmalıdır");
        }
        else {

            $.ajax({
                method: "POST",
                url: "/MemberBusiness/GetFilteredPaymentTransactions",
                data: { StartDate: StartDate, EndDate: EndDate },
                beforeSend: function () {

                }
            }).done(function (d) {
                if (d.failed == true) {
                    toastr.error(d.message, "Hata");
                }
                else {
                    toastr.success(d.message, "Başarılı");
                    setTimeout(function () {
                        $('#getPaymentDetails').html(d);
                    }, 500);
                }

            }).always(function () {

            });
        }

    };
</script>