﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



@model IEnumerable<NFCProject.Core.Entities.PaymentDetail>

<link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/css/plugins/animate/animate.css">

<table class="table table-striped table-bordered dataex-html5-export dataTable">
    <thead>
        <tr>
            <th>Kart Numarası</th>
            <th>Üye İş Yeri</th>
            <th>Tarih</th>
            <th>Tutar</th>
            @*<th class="notexport">İşlemler</th>*@
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>

                    <td>@item.Card.CardGuidId</td>
                    <td>@item.MemberBusiness.Name</td>
                    <td>@item.ExecutionDate.ToString("dd.MM.yyyy")</td>
                    <td>@item.Amount.ToString("N2") ₺</td>
                    <!--<td>-->

                        @*<a class="btn btn-primary" href="/DriverDocument/AddDriverDocument?Id=@item.Id" >Evrak yükle</a>*@

                    <!--</td>-->

                </tr>
            }
        }
    </tbody>
</table>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/TemplateMain/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
<script src="~/TemplateMain/app-assets/js/scripts/tables/datatables-extensions/datatable-button/datatable-html5.js"></script>

<script src="~/CustomScript/PaymentDetailScript.js"></script>