﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@model IEnumerable<NFCProject.Contact.RequestModel.Card.GetCardRequestModel>

<link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/css/plugins/animate/animate.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<table class="table table-striped table-bordered dataex-html5-export dataTable">
    <thead>
        <tr>
            <th>Kart Numarası</th>
            <th>Kart Sahibi</th>
            <th class="notexport">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>

                    <td>@item.CardGuidId</td>
                    <td><input type="text" value="@item.FullName" class="form-control" id="@(item.Id)" /></td>
                    <td>

                        <button class="btn btn-primary" type="button" onclick="saveCardName('@item.Id')">Güncelle</button>

                    </td>

                </tr>
            }
        }
    </tbody>
</table>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/TemplateMain/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
<script src="~/TemplateMain/app-assets/js/scripts/tables/datatables-extensions/datatable-button/datatable-html5.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    function saveCardName(Id) {

        var fullName = $('#' + Id).val();

        if (fullName == '') {
            swal({
                title: "Hata",
                text: "Lütfen kart ismi giriniz",
                type: "error",
                showCancelButton: false,
                confirmButtonColor: '#5cb85c',
                confirmButtonText: 'Tamam',
                cancelButtonText: "Kapat",
                closeOnConfirm: false,
                closeOnCancel: false,
                allowOutsideClick: false
            }).then(function (willDelete) {
                if (willDelete) {
                }

            });
        }
        else {
            swal({
                text: "Kart güncellenecek, emin misiniz?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Evet',
                cancelButtonText: 'Hayır',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: true
            }).then(function (willDelete) {
                if (willDelete) {
         
                    $.ajax({
                        method: "POST",
                        url: "/Company/UpdateCard",
                        /* contentType: 'application/x-www-form-urlencoded; charset=UTF-8',*/
                        data: {
                            Id: Id,
                            FullName: fullName,
                        },
                        //cache: false,
                        //contentType: false,
                        //processData: false,
                        beforeSend: function () {
                        }
                    }).done(function (d) {

                        debugger;

                        if (d.failed == true) {
                            debugger;
                            swal({
                                title: "Hata",
                                text: d.message,
                                type: "error",
                                showCancelButton: false,
                                confirmButtonColor: '#5cb85c',
                                confirmButtonText: 'Tamam',
                                cancelButtonText: "Kapat",
                                closeOnConfirm: false,
                                closeOnCancel: false,
                                allowOutsideClick: false
                            }).then(function (willDelete) {
                                if (willDelete) {
                                }

                            });

                        } else {

                            debugger;

                            toastr.success("Kart güncellendi", "Başarılı");
                            $('#cardList').html(d);

                        }

                    }).always(function () {

                    });
                }
            });
        }


    }
</script>