﻿
@{
    ViewBag.Title = "Firma Ekle";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h1>Firma Ekle </h1>
@model NFCProject.Contact.RequestModel.Company.AddCompanyRequestModel
<section id="column-selectors">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">

                        <form id="addCompany" onsubmit="AddCompany()" method="Post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label>Firma Adı<span style="color:red">*</span></label>
                                        <div class="input-group">

                                            <input asp-for="Name" class="form-control" required>

                                        </div>

                                    </div>



                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input asp-for="Email" type="email" required class="form-control">

                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Yetkili Adı Soyadı </label>
                                            <input asp-for="AuthorizedPerson" type="text" required class="form-control">

                                        </div>

                                    </div>



                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Telefon </label>
                                        <input asp-for="PhoneNumber" type="text" class="form-control phone">
                                        @*<input type="text" class="form-control" name="phoneNumber" id="phoneNumber" value="">*@


                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">

                                        <div class="form-group">
                                            <label>Vergi No </label>
                                            <input asp-for="TaxNo" type="number" class="form-control">


                                        </div>


                                    </div>



                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Adres </label>
                                        <input asp-for="Address" class="form-control">
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-info float-right" type="submit"><i class="far fa-save"></i> Kaydet</button>
                                </div>
                            </div>
                        </form>



                    </div>

                </div>


            </div>

        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
<script>


    $('.phone').inputmask("(999) 999-9999");








    function AddCompany() {
        event.preventDefault();


        var formValue = document.getElementById("addCompany");

        /* var formValue = (this);*/

        debugger;

        $.ajax({
            method: "POST",
            url: "/Company/AddCompany",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: new FormData(formValue),
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function () {

            }
        }).done(function (d) {


            if (d.result == "Success") {


                swal({
                    title: "Başarılı",
                    text: d.message,
                    type: "success",
                    showCancelButton: false,
                    confirmButtonColor: '#5cb85c',
                    confirmButtonText: 'Tamam',
                    cancelButtonText: "Kapat",
                    closeOnConfirm: false,
                    closeOnCancel: false,
                    allowOutsideClick: false
                }).then(function (willDelete) {
                    if (willDelete) {

                        window.location.href = "/Company/Index";
                    }

                });



            } else {
                swal({
                    title: "Hata",
                    text: d.message,
                    type: "error",
                    showCancelButton: false,
                    confirmButtonColor: '#5cb85c',
                    confirmButtonText: 'Tamam',
                    cancelButtonText: "Kapat",
                    closeOnConfirm: false,
                    closeOnCancel: false,
                    allowOutsideClick: false
                }).then(function (willDelete) {
                    if (willDelete) {


                    }

                });
            }



        }).always(function () {

        });

    }



</script>