﻿
@{
    ViewData["Title"] = "CardList";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@model IEnumerable<NFCProject.Contact.RequestModel.Card.GetCardRequestModel>


<div class="content-header row">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title"> Kart Listesi</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/Company/CardList">Kart</a>
                    </li>
                    <li class="breadcrumb-item">
                        Kart Listesi
                    </li>

                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-lead col-12 mb-1">
        <i style="color: #ed1a3b"></i>
    </div>
</div>


<section id="column-selectors">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">

                        <div class="" id="cardList">

                            @await Html.PartialAsync("~/Views/Company/_PartialCardList.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>