﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h1>Firma Listesi</h1>

<section id="column-selectors">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">


                        <table class="table table-striped table-bordered dataex-html5-export dataTable">
                            <thead>
                                <tr>
                                    <th>
                                        Firma
                                    </th>

                                    <th>
                                        Yetkili Adı Soyadı
                                    </th>
                                    <th>
                                        E-Posta
                                    </th>
                                    <th>
                                        Kullanıcı Adı
                                    </th>

                                    <th class="notexport">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Companies != null && ViewBag.Companies.Count > 0)
                                {
                                    @foreach (var item in ViewBag.Companies)
                                    {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.AuthorizedPerson
                                    </td>

                                    <td>
                                        @item.Email
                                    </td>

                                    <td>
                                        @item?.User?.UserName
                                    </td>

                                    <td>

                                        <a href="#" class="btn btn-danger" onclick="deleteCompany(@item.Id)"><i class="fas fa-trash-alt"></i> Sil</a>
                                        <a href="/Company/GetById?Id=@item.Id" class="btn btn-warning"> Detay</a>
                                        @*<button class="btn btn-warning">Güncelle</button>*@


                                        @*<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" onclick="OpenConfirmModal('@item.Id')"><i class="fas fa-sync-alt"></i> Güncelle</button>*@
                                    </td>
                                </tr>
                                    }
                                }

                            </tbody>
                        </table>

                    </div>

                </div>


            </div>

        </div>
    </div>
</section>



<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/TemplateMain/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
<script src="~/TemplateMain/app-assets/js/scripts/tables/datatables-extensions/datatable-button/datatable-html5.js"></script>

<script>
    function deleteCompany(Id) {
        swal({
            text: "Firmayı silmek istediğinizden emin misiniz?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır',
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            buttonsStyling: true
        }).then(function (willDelete) {
            if (willDelete) {
                $.ajax({
                    url: '/Company/DeleteCompany',
                    type: 'POST',
                    data: {

                        Id: Id,


                    },
                    success: function (d) {
                        if (d.result == "Success") {
                            swal({
                                title: "Başarılı",
                                text: d.message,
                                type: "success",
                                showCancelButton: false,
                                confirmButtonColor: '#5cb85c',
                                confirmButtonText: 'Tamam',
                                cancelButtonText: "Kapat",
                                closeOnConfirm: false,
                                closeOnCancel: false,
                                allowOutsideClick: false
                            }).then(function (willDelete) {
                                if (willDelete) {

                                    window.location.reload();
                                }

                            });


                        } else {
                            swal({
                                title: "Hata",
                                text: d.message,
                                type: "error",
                                showCancelButton: false,
                                confirmButtonColor: '#5cb85c',
                                confirmButtonText: 'Tamam',
                                cancelButtonText: "Kapat",
                                closeOnConfirm: false,
                                closeOnCancel: false,
                                allowOutsideClick: false
                            }).then(function (willDelete) {
                                if (willDelete) {


                                }

                            });
                        }
                    },
                    error: function (xhr) {
                        swal({
                            title: "Hata",
                            text: "Hata oluştu",
                            type: "error",
                            showCancelButton: false,
                            confirmButtonColor: '#5cb85c',
                            confirmButtonText: 'Tamam',
                            cancelButtonText: "Kapat",
                            closeOnConfirm: false,
                            closeOnCancel: false,
                            allowOutsideClick: false
                        }).then(function (willDelete) {
                            if (willDelete) {


                            }

                        });
                    }
                });
            }


        });
    }
</script>