﻿
@{
    ViewData["Title"] = "PaymentDetailList";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}



@model IEnumerable<NFCProject.Core.Entities.PaymentDetail>


<div class="content-header row">
    <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title"> Ödeme Listesi</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/Company/CardList">Kart</a>
                    </li>
                    <li class="breadcrumb-item">
                        Ödeme Listesi
                    </li>

                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-lead col-12 mb-1">
        <i style="color: #ed1a3b"></i>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <h4 class="card-title"></h4>


        <form id="getAllPaymentByCompanyIdForm">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputCity">Kartlar</label>
                    <select class="form-control select2" id="CardId" name="Id" required>
                        <option value="" selected>Seçiniz</option>


                        @if (ViewBag.CardList != null)
                        {

                            @foreach (var item in ViewBag.CardList)
                            {
                                <option value="@item.Id">@item.CardGuidId</option>
                            }
                        }

                    </select>

                </div>
                <div class="col-md-1" style="margin-top:25px;">
                    <button type="submit" class="btn btn-success">Getir</button>

                </div>
                <div class="col-md-4" style="margin-top:25px;">
                    <a href="/Company/PaymentDetailList" class="btn btn-info float-left">Tüm Kayıtları Getir</a>

                </div>
            </div>

        </form>

        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>

    </div>

</div>


<section id="column-selectors">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">

                        <div class="" id="paymentDetailList">

                            @await Html.PartialAsync("~/Views/Company/_PartialPaymentDetailList.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


