﻿
@{
    ViewBag.Title = "Kart Ekle";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model NFCProject.Contact.RequestModel.Card.AddCardRequestModel

<h1>Kart Ekle</h1>


<section id="column-selectors">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">

                        <form id="addCard" onsubmit="AddCard()" method="Post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label>Firma <span style="color:red">*</span></label>
                                        <div class="input-group">

                                            <select asp-for="CompanyId" required class="select2 form-control">
                                                <option value="">Seçiniz</option>
                                                @if (ViewBag.Companies != null && ViewBag.Companies.Count > 0)
                                                {
                                                    foreach (var item in ViewBag.Companies)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                }
                                            </select>

                                        </div>




                                    </div>



                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Kart Seri No <span style="color:red">*</span></label>
                                        <input asp-for="CardGuidId" class="form-control" value="" required  placeholder="Kard Seri No">


                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Bakiye <span style="color:red">*</span></label>
                                        <input asp-for="Balance" type="text" required class="form-control money" placeholder="Bakiye">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-info float-right" type="submit"><i class="far fa-save"></i> Kaydet</button>
                                </div>
                            </div>
                        </form>



                    </div>

                </div>


            </div>

        </div>
    </div>
</section>



<script src="~/js/jquery.mask.js"></script>
<script>
    $('.money').mask('000.000.000.000.000,00', { reverse: true });



    function AddCard() {
        event.preventDefault();


        var formValue = document.getElementById("addCard");

        /* var formValue = (this);*/

        debugger;

        $.ajax({
            method: "POST",
            url: "/Card/AddCard",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: new FormData(formValue),
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function () {

            }
        }).done(function (d) {

         
            if (d.result == "Success") {


                swal({
                    title: "Başarılı",
                    text: d.message,
                    type: "success",
                    showCancelButton: false,
                    confirmButtonColor: '#5cb85c',
                    confirmButtonText: 'Tamam',
                    cancelButtonText: "Kapat",
                    closeOnConfirm: false,
                    closeOnCancel: false,
                    allowOutsideClick: false
                }).then(function (willDelete) {
                    if (willDelete) {

                        window.location.href = "/Card/Index";
                    }

                });


               
            } else {
                swal({
                    title: "Hata",
                    text: d.message,
                    type: "error",
                    showCancelButton: false,
                    confirmButtonColor: '#5cb85c',
                    confirmButtonText: 'Tamam',
                    cancelButtonText: "Kapat",
                    closeOnConfirm: false,
                    closeOnCancel: false,
                    allowOutsideClick: false
                }).then(function (willDelete) {
                    if (willDelete) {

                        
                    }

                });
            }
          


        }).always(function () {

        });

    }




</script>