﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h1>Kart Listesi</h1>
<section id="column-selectors">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">


                        <table class="table table-striped table-bordered dataex-html5-export dataTable">
                            <thead>
                                <tr>
                                    <th>
                                       Kard Seri No
                                    </th>

                                    <th>
                                        Firma
                                    </th>
                                    <th>
                                        Bakiye
                                    </th>

                                    <th class="notexport">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.CardList != null && ViewBag.CardList.Count > 0)
                                {
                                    @foreach (var item in ViewBag.CardList)
                                    {
                                        <tr>
                                            <td>
                                                @item.CardGuidId
                                            </td>
                                            <td>
                                                @item.Company.Name
                                            </td>

                                            <td>
                                                @item.Balance ₺
                                            </td>


                                            <td>

                                                <a href="#" class="btn btn-danger" onclick="deleteCard(@item.Id)"><i class="fas fa-trash-alt"></i> Sil</a>
                                                @*<button class="btn btn-warning">Güncelle</button>*@
                                                <button type="button" class="btn btn-info" onclick="openBalanceModal(@item.Id)">
                                                    Bakiye Yükle
                                                </button>

                                                @*<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" onclick="OpenConfirmModal('@item.Id')"><i class="fas fa-sync-alt"></i> Güncelle</button>*@
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>

                    </div>

                </div>


            </div>

        </div>
    </div>
</section>


<div class="modal fade" id="cardBalanceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><b>Bakiye Yükle</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="cardId" value="" />
                <div class="row">
                    <div class="col-md-5 mt-1" style="font-size:16px">
                        Eklenecek Tutar (₺)
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control money" id="cardAddedAmount" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-info" onclick="CardAddedAmount()">Yükle</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/jquery.mask.js"></script>
<script src="~/TemplateMain/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
<script src="~/TemplateMain/app-assets/js/scripts/tables/datatables-extensions/datatable-button/datatable-html5.js"></script>

<script>
    $('.money').mask('000.000.000.000.000,00', { reverse: true });
    function openBalanceModal(cardId) {

        $("#cardId").val(cardId);
        $("#cardBalanceModal").modal("show");
    }

    function CardAddedAmount() {
        debugger;
        var cardId = $("#cardId").val();
        var cardAddedAmount = $("#cardAddedAmount").val();
        if (cardAddedAmount != "" && cardAddedAmount != " " && cardId != "") {
            swal({
                text: "Bakiye yüklemek istediğinizden emin misiniz?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Evet',
                cancelButtonText: 'Hayır',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: true
            }).then(function (willDelete) {
                if (willDelete) {
                    $.ajax({
                        url: '/Card/CardAddedAmount',
                        type: 'POST',
                        data: {

                            CardId: cardId,
                            CardAddAmount: cardAddedAmount

                        },
                        success: function (d) {
                            if (d.result == "Success") {
                                swal({
                                    title: "Başarılı",
                                    text: d.message,
                                    type: "success",
                                    showCancelButton: false,
                                    confirmButtonColor: '#5cb85c',
                                    confirmButtonText: 'Tamam',
                                    cancelButtonText: "Kapat",
                                    closeOnConfirm: false,
                                    closeOnCancel: false,
                                    allowOutsideClick: false
                                }).then(function (willDelete) {
                                    if (willDelete) {

                                        window.location.reload();
                                    }

                                });


                            } else {
                                swal({
                                    title: "Hata",
                                    text: d.message,
                                    type: "error",
                                    showCancelButton: false,
                                    confirmButtonColor: '#5cb85c',
                                    confirmButtonText: 'Tamam',
                                    cancelButtonText: "Kapat",
                                    closeOnConfirm: false,
                                    closeOnCancel: false,
                                    allowOutsideClick: false
                                }).then(function (willDelete) {
                                    if (willDelete) {


                                    }

                                });
                            }
                        },
                        error: function (xhr) {
                            swal({
                                title: "Hata",
                                text: "Hata oluştu",
                                type: "error",
                                showCancelButton: false,
                                confirmButtonColor: '#5cb85c',
                                confirmButtonText: 'Tamam',
                                cancelButtonText: "Kapat",
                                closeOnConfirm: false,
                                closeOnCancel: false,
                                allowOutsideClick: false
                            }).then(function (willDelete) {
                                if (willDelete) {


                                }

                            });
                        }
                    });
                }


            });
        } else {
            swal({
                title: "Hata",
                text: "Eklenecek tutar boş geçilemez",
                type: "error",
                showCancelButton: false,
                confirmButtonColor: '#5cb85c',
                confirmButtonText: 'Tamam',
                cancelButtonText: "Kapat",
                closeOnConfirm: false,
                closeOnCancel: false,
                allowOutsideClick: false
            }).then(function (willDelete) {
                if (willDelete) {


                }

            });
        }
    }


    function deleteCard(Id) {
        swal({
            text: "Kartı silmek istediğinizden emin misiniz?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır',
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            buttonsStyling: true
        }).then(function (willDelete) {
            if (willDelete) {
                $.ajax({
                    url: '/Card/DeleteCard',
                    type: 'POST',
                    data: {

                        Id: Id,


                    },
                    success: function (d) {
                        if (d.result == "Success") {
                            swal({
                                title: "Başarılı",
                                text: d.message,
                                type: "success",
                                showCancelButton: false,
                                confirmButtonColor: '#5cb85c',
                                confirmButtonText: 'Tamam',
                                cancelButtonText: "Kapat",
                                closeOnConfirm: false,
                                closeOnCancel: false,
                                allowOutsideClick: false
                            }).then(function (willDelete) {
                                if (willDelete) {

                                    window.location.reload();
                                }

                            });


                        } else {
                            swal({
                                title: "Hata",
                                text: d.message,
                                type: "error",
                                showCancelButton: false,
                                confirmButtonColor: '#5cb85c',
                                confirmButtonText: 'Tamam',
                                cancelButtonText: "Kapat",
                                closeOnConfirm: false,
                                closeOnCancel: false,
                                allowOutsideClick: false
                            }).then(function (willDelete) {
                                if (willDelete) {


                                }

                            });
                        }
                    },
                    error: function (xhr) {
                        swal({
                            title: "Hata",
                            text: "Hata oluştu",
                            type: "error",
                            showCancelButton: false,
                            confirmButtonColor: '#5cb85c',
                            confirmButtonText: 'Tamam',
                            cancelButtonText: "Kapat",
                            closeOnConfirm: false,
                            closeOnCancel: false,
                            allowOutsideClick: false
                        }).then(function (willDelete) {
                            if (willDelete) {


                            }

                        });
                    }
                });
            }


        });
    }


    //setInterval(function () {
        
    //    window.location.reload();
    //}, 10000); 
</script>
