﻿@model IEnumerable<NFCProject.Contact.RequestModel.Device.GetDeviceRequestModel>

<section id="column-selectors">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">


                        <table class="table table-striped table-bordered dataex-html5-export dataTable">
                            <thead>
                                <tr>

                                    <th>
                                        Seri No
                                    </th>
                                    <th>
                                        Cihaz Adı
                                    </th>
                                    <th>
                                        Kayıt Tarihi
                                    </th>
                                    <th class="notexport">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count() > 0)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.SerialNumber
                                            </td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.RecordDate
                                            </td>

                                            <td>
                                                <a href="#" class="deleteDevice btn btn-danger" data-id="@item.Id"><i class="fas fa-trash-alt"></i> Sil</a>
                                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModals" onclick="OpenConfirmModal('@item.Id')">Güncelle</button>
                                                @*<a href="#" class="btn btn-danger " data-id="@item.Id"><i class="fas fa-trash-alt"></i> Sil</a>
        <button class="btn btn-warning">Güncelle</button>
        <button type="button" class="btn btn-info" onclick="openBalanceModal(@item.Id)">
            Bakiye Yükle
        </button>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" onclick="OpenConfirmModal('@item.Id')"><i class="fas fa-sync-alt"></i> Güncelle</button>*@
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>

                    </div>

                </div>


            </div>

        </div>
    </div>
</section>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/TemplateMain/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
<script src="~/TemplateMain/app-assets/js/scripts/tables/datatables-extensions/datatable-button/datatable-html5.js"></script>

<script>
    $(".deleteDevice").click(function () {

        debugger;

        var id = $(this).attr("data-id");
        var closestTR = $(this).closest("tr");
        debugger;
        swal({
            text: "Cihaz silinecek emin misiniz?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır',
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            buttonsStyling: true
        }).then(function (willDelete) {
            if (willDelete) {
                $.ajax({
                    url: '/Device/DeleteDevice?Id=' + id,
                    type: 'POST',
                    success: function (d) {

                        debugger;

                        if (d.failed == false) {
                            closestTR.fadeOut(1000, function () {
                                closestTR.remove();
                            });

                            window.location.reload();

                            toastr.success(d.message, "Başarılı");
                        }
                        else {

                            toastr.error(d.message, "Hata");
                        }
                    }
                });
            }

        });

    });
</script>