﻿@model NFCProject.Contact.RequestModel.Device.GetDeviceRequestModel

<form id="UpdateDevice">

    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group row">

        <div class="form-group col-md-6">
            <label for="validationTooltip02">Cihaz Adı<span class="text-danger">*</span></label>
            <input type="text" name="Name" required class="form-control" id="name" value="@Model.Name" placeholder="Cihaz Adı Giriniz...">
        </div>

        <div class="form-group col-md-6">
            <label for="validationTooltip02">Cihaz Seri No<span class="text-danger">*</span></label>
            <input type="text" name="SerialNumber" required class="form-control" value="@Model.SerialNumber" id="serialNumber" placeholder="Cihaz Seri No Giriniz...">
        </div>
    </div>
    <div style="float:right">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>

        <button type="submit" class="btn btn-info"><i class="far fa-save"></i> Güncelle</button>
    </div>
</form>


<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
@*<script src="~/TemplateMain/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
<script src="~/TemplateMain/app-assets/js/scripts/tables/datatables-extensions/datatable-button/datatable-html5.js"></script>*@

