﻿@model IEnumerable<NFCProject.Contact.RequestModel.Device.GetDeviceRequestModel>
@{
    ViewData["Title"] = "Cihaz Listesi";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h1>Cihaz Listesi</h1>
<br />

<form id="addDevice">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-4"> <h4 class="modal-title"><span id="dlogo"></span></h4></div>
                        <div class="col-xs-8"><h4 class="modal-title"><b style="line-height:45px;">&nbsp;&nbsp;  Cihaz Ekle</b></h4></div>


                    </div>

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">

                    <div class="form-group row">

                        <div class="form-group col-md-6">
                            <label for="validationTooltip02">Cihaz Adı<span class="text-danger">*</span></label>
                            <input type="text" name="Name" required class="form-control" id="name" placeholder="Cihaz Adı Giriniz...">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="validationTooltip02">Cihaz Seri No<span class="text-danger">*</span></label>
                            <input type="text" name="SerialNumber" required class="form-control" id="serialNumber" placeholder="Cihaz Seri No Giriniz...">
                        </div>
                    </div>



                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>

                    <button type="submit" class="btn btn-info"><i class="far fa-save"></i> Kaydet</button>

                </div>

            </div>
        </div>
    </div>
</form>
<section id="column-selectors">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
             
                <div class="card-content collapse show">
                 
                    <div class="card-body card-dashboard">
                        <div style="float:right">

                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                                <i class="fas fa-plus-circle"></i> Cihaz Ekle
                            </button>

                        </div>
                        <form id="getDelayOfPaymentsByPartnerIdForm">
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="startDate">Başlangıç Tarihi</label>
                                    @*<input type="date" class="form-control" id="StartDate" name="StartDate" />*@
                                    <input type="date" class="form-control datepicker" placeholder="gg/aa/yyyy" autocomplete="off" id="StartDate" name="StartDate">
                                </div>
                                <div class="col-md-2">
                                    <label for="startDate">Bitiş Tarihi <span style="color:red">*</span></label>
                                    @*<input type="date" class="form-control" id="EndDate" name="EndDate">*@
                                    <input type="date" class="form-control datepicker" placeholder="gg/aa/yyyy" autocomplete="off" id="EndDate" name="EndDate">
                                </div>
                                @*<div class="form-group col-md-2">
                    <label for="inputCity">Ödeme Tipi</label>
                    <select class="form-control select2" name="PaymentTypeID" id="PaymentTypeID">
                        <option value="">Seçiniz</option>
                        @if (ViewBag.PaymentTypeList != null)
                        {
                            @foreach (var items in ViewBag.PaymentTypeList)
                            {
                                <option value="@items.Id">@items.Description</option>
                            }
                        }

                    </select>
                </div>*@
                                <div class="form-group col-md-1">
                                    <button class="btn btn-info" type="button" style="margin-top:25px;" onclick="FilterPaymentDetails()"><i class="fas fa-search"></i> Sorgula</button>
                                </div>

                            </div>
                        </form>

                    </div>

                </div>


            </div>
        </div>

    </div>
</section>

<section id="column-selectors">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"></h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <div id="getAllDevices">
                            @await Html.PartialAsync("~/Views/Device/_PartialGetAllDevices.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="exampleModals" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalLogo">
                <div class="row">
                    <div class="col-xs-4"> <h4 class="modal-title"><span id="dlogo"></span></h4></div>
                    <div class="col-xs-8"><h4 class="modal-title"><b style="line-height:45px;">Cihaz Güncelle</b></h4></div>
                </div>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">

            </div>

            @*<div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-info">Kaydet</button>
                </div>*@
        </div>
    </div>
</div>

<script>
    $("#addDevice").submit(function (event) {
        event.preventDefault();

        $.ajax({
            url: "/Device/AddDevice",
            type: "POST",
            //dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: new FormData(this),
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.failed) {
                    toastr.error(data.message, "Hata");
                } else {
                    setTimeout(function () {
                        toastr.success("Cihaz eklendi.", "Başarılı");
                    }, 500);

                    setTimeout(function () {
                        GetAllDevices();
                    }, 1500);


                }

            },
            error: function (xhr) {
                if (xhr.status == 403 || xhr.status == 401 || xhr.status == 404) {
                    window.location.href = "/Account/AccessDenied";
                }
                else {
                    toastr.error("Hata oluştu", "Hata");
                }
            }
        });
    });

    function GetAllDevices() {
        debugger;
        $.ajax({
            method: "GET",
            url: "/Device/GetAllDeviceforPartial",
            cache: false,
            beforeSend: function () {
            }
        }).done(function (d) {
            if (d.failed == true) {
                toastr.error("Yüklenirken bir hatayla karşılaşıldı", "Hata");

            } else {
                $("#getAllDevices").html(d);
            }
        }).always(function () {
        });
    }
    function OpenConfirmModal(Id) {
        debugger;
        $.ajax({
            method: "GET",
            url: "/Device/UpdateDeviceById",
            data: {
                Id: Id
            },
            beforeSend: function () {
            }
        }).done(function (d) {
            $("#exampleModals").modal('show');
            $("#exampleModals .modal-body").html(d);
        }).fail(function () {
        }).always(function () {
        });
    }
</script>
