﻿
@{ Layout = null; }



<!DOCTYPE html>
<html class="loading" lang="tr" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Total B2B Giriş Ekranı">
    <meta name="keywords" content="Total B2B Giriş Ekranı">

    <title>Giriş </title>
    <link rel="apple-touch-icon" href="~/TemplateMain/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/TemplateMain/app-assets/images/ico/favicon-total.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">


    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/formhelper/formhelper.min.css" />

    <style>
    </style>

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/vendors/css/forms/icheck/custom.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/css/components.css">
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/css/pages/login-register.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/TemplateMain/assets/css/style.css">
    <!-- END: Custom CSS-->
    @*<link href="~/TemplateMain/app-assets/font awesome/all-min.css" rel="stylesheet" />*@
    <link href="~/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet" />



</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu 1-column  bg-full-screen-image blank-page" data-open="click" data-menu="vertical-menu" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-lg-12 col-md-11 col-xs-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-3 col-md-8 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <img src="/TemplateMain/app-assets/images/logo.png" alt="branding logo" style="width:80%">
                                    </div>
                                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2" style="margin:0 !important"><span>GİRİŞ EKRANI</span></h6>
                                </div>
                                <div class="card-content">

                                    <div id="domMessage" style="display:none;">
                                        <img src="~/images/unnamed2.gif" width="100" height="100" /><br />
                                    </div>

                                    @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
                                    {
                                        <p class="col-md-offset-2 ml-5 mt-3"><b style="color:red">@ViewBag.ErrorMessage</b></p>
                                    }

                                    <div class="card-body">
                                        <form asp-formhelper="true" class="login-container" action="/Account/Login" method="post">
                                            <fieldset class="form-group floating-label-form-group">
                                                <label for="user-name">Kullanıcı Adı</label>
                                                <input type="text" class="form-control" placeholder="" name="userName" required>
                                                <span class="text-danger"></span>

                                            </fieldset>
                                            <fieldset class="form-group floating-label-form-group mb-1">
                                                <label for="user-password">Parola</label>






                                                <div class="input-group" id="show_hide_password">
                                                    <input class="form-control" type="password" name="password" required>
                                                    <div class="input-group-addon">
                                                        <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>


                                            </fieldset>
                                            @*<div class="form-group row">
                    <div class="col-sm-6 col-12 text-center text-sm-left">
                        <fieldset>
                            <input type="checkbox" onclick="myFunction()">
                            <label for="ShowPassword"> Şifreyi göster</label>
                        </fieldset>
                    </div>
                </div>*@
                                            <button type="submit" class="btn btn-outline-info btn-block">     <i class="fas fa-sign-in-alt"></i> Giriş</button>
                                        </form>
                                    </div>

                                    <div class="card-body" style="padding-top:0 !important">
                                        <a href="~/User/PasswordReset" class="btn btn-outline-danger btn-block">
                                            <i class="la la-user"></i>
                                            Şifremi Unuttum

                                        </a>
                                    </div>
                                    <div class="row">
                                        <center>
                                            <img src="/TemplateMain/app-assets/images/logo.png" class="mr-3 ml-5" width="25%" />

                                            @*<img src="/TemplateMain/app-assets/images/logo.png" width="15%" />*@
                                        </center>
                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>

                    @*<img src="~/TemplateMain/app-assets/images/backgrounds/oyak-enerji-grubu.png" class="photo" style="position:absolute; bottom:0px; right:35px;" />*@

                </section>


            </div>
        </div>
    </div>
    <!-- END: Content-->
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/blockUI/blockUI.js"></script>
    <!-- BEGIN: Vendor JS-->
    <script src="~/TemplateMain/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/TemplateMain/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js"></script>
    <script src="~/TemplateMain/app-assets/vendors/js/forms/icheck/icheck.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/TemplateMain/app-assets/js/core/app-menu.js"></script>
    <script src="~/TemplateMain/app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/TemplateMain/app-assets/js/scripts/forms/form-login-register.js"></script>
    <!-- END: Page JS-->
    <script type="text/javascript" src="/formhelper/formhelper.bundle.min.js"></script>
    @*<script src="~/TemplateMain/app-assets/font awesome/all-min.js"></script>*@
    <script src="~/fontawesome-free-5.15.4-web/js/all.js"></script>
</body>
<!-- END: Body-->

</html>
<script>
    //function myFunction() {
    //    var x = document.getElementById("Password");
    //    if (x.type === "password") {
    //        x.type = "text";
    //    } else {
    //        x.type = "password";
    //    }
    //}
    $(document).ready(function () {
        $("#show_hide_password a").on('click', function (event) {
            event.preventDefault();
            debugger;
            if ($('#show_hide_password input').attr("type") == "text") {
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass("fa-eye-slash");
                $('#show_hide_password i').removeClass("fa-eye");
            } else if ($('#show_hide_password input').attr("type") == "password") {
                $('#show_hide_password input').attr('type', 'text');

                $('#show_hide_password i').removeClass("fa-eye-slash");
                $('#show_hide_password i').addClass("fa-eye");
            }
        });
    });

</script>


<script>
    function blockStart() {
        $.blockUI.defaults.css = {
            padding: 0,
            margin: 0,
            width: '30%',
            top: '40%',
            left: '35%',
            textAlign: 'center',
            cursor: 'wait'
        };
        $.blockUI({ message: $('#domMessage') });
    }
    function blockStop() {
        $.unblockUI();
    }
</script>




